*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
     overflow-x: hidden;
}
header{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 20;
}
.header1{
    display: flex;
    background-color: #333333;
}
.header1 ul{
    display: flex;
    align-items: center;
}
#logo{
    color: rgba(255, 255, 255, 0.918);
    font-size: 2.5rem;
    font-family: arial;
    padding: 1vh 2vw;
    
}
.green{
    color: #56b856;
    font-family: 'Share Tech Mono';
    font-size: 0.8rem;
}
#personal{
    color: #9B9B9B;
    background-color: #0e0d0d;
    padding: 3vh 4vh;
    margin-right: 50.2vw;
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.icons{
    padding: 2.3vh 3vh;
    border-left: 1px solid #9b9b9b62;
    align-items: center;
}
.icons a{
    font-size: 1.5rem;
    color: #9B9B9B;
}
.bgg{
    background-color: #60c033dc;
    color: white;
    padding: 2.2vh 3vh;
    font-size: 1.5rem;
}
nav{
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    background-color: white;
}
nav ul{
    display: flex;
    gap: 1vw;
    align-items: center;
}
nav li{
    padding: 3.5vh 0.5vw;
}
nav a{
    color: #333333;
    font-size: 0.75rem;
    font-weight: 600;
}
nav a:hover{
    color: #8490FF;
}
#home{
    color: #8490FF;
}
#navimg{
    padding-left: 7vw;
    padding-right: 28vw;
}
.nav2{
    display: none;
}
.options{
    display: none;
}
.secme{
    background-color: #F9F9FF;
    padding-left: 9vw;
    padding-top: 38vh;
    display: flex;
    gap: 5vw;
    align-items: center;
}
.me1{
    position: relative;
    top: -10vh;
}
.secme h4{
    font-size: 0.88rem;
    color: #222222;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
.secme h1{
    font-size: 3.75rem;
    color: #222222;
    padding: 2vh 0;
}
.secme p{
    font-size: 0.87rem;
    color: #777777e1;
    font-weight: 100;
    line-height: 1.5rem;
    margin-bottom: 3vh;
}
.button{
    background: linear-gradient(to right, #8390ff, #65bafd);
    color: white;
    font-weight: 700;
    outline: none;
    border: none;
    padding: 2vh 4vh;
}
.secabout{
    display: flex;
    gap: 8vw;
    padding-top: 20vh;
    align-items: center;
}
.secabout img{
    width: 42vw;
    margin-left: 5vw;
}
.secabout h5{
    font-size: 0.88rem;
    color: #222222;
    font-weight: 500;
}
.secabout h2{
    font-size: 2.25rem;
    color: #222222;
    padding: 4vh 0;
}
.secabout p{
    font-size: 0.87rem;
    color: #777777;
    font-weight: 200;
    word-break: break-all;
    margin-bottom: 5vh;
    line-height: 3.5vh;
}
.aboutp2{
    display: none;
}
.aboutpmobile{
    display: none;
}
.secservices{
    background-color: #F6F6F6;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 10vh;
    align-items: center;
}
.h2{
    font-size: 2.25rem;
    color: #222222;
    padding-bottom: 1vh;
    font-weight: 900;
}
.pserve{
    font-size: 0.87rem;
    color: #777777;
    font-weight: 200;
    line-height: 1.5rem;
}
.pserve2{
    display: none;
}
.secservices article{
    display: flex;
    gap: 3vw;
    margin-top: 7vh;
    padding: 0 8vw;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 10vh;
}
.iconimg{
    width: 35;
    height: 35;
}
.servecards h4{
    color: #222222;
    font-size: 1.125rem;
    padding-bottom: 3vh;
    font-weight: 900;
}
.servecards p{
     font-size: 0.86rem;
    color: #777777;
    font-weight: 200;
}
.servecards:hover h4{
    color: #8390ff;
    transition: 0.2s ease-in-out;
}
.secproducts{
    background: linear-gradient(to right, #8390ff, #65bafd);
     color: white;
    display: flex;
    gap: 10vw;
    justify-content: center;
    text-align: center;
    padding: 20vh 0;
}
.secproducts h4{
    font-size: 2.25rem;
}
.secproducts p{
    font-size: 0.875rem;
}

.secprojects{
    padding: 10vh 9vw;
    align-items: center;
   text-align: center;
}
.p1{
    color: #777777;
    font-size: 0.875rem;
    padding-bottom: 8vh;
}
.secprojects ul{
    display: flex;
    gap: 2vw;
    justify-content: center;
    margin-top: 7vh;
}
#all{
    color: #8390ff;
}
.secprojects li{
    font-size: 0.75rem;
    font-weight: 600;
}
.secprojects li:hover{
    border-bottom: 1px solid black;
    transition: 0.3s ease-in-out;
}
.secprojects a:hover{
    color: #8390ff;
     transition: 0.2s ease-in-out;
}
.artprojects{
    display: flex;
    gap: 2vw;
    margin-top: 7vh;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 12vh;
}
.cardover{
    position: relative;
}
.cardover .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(to right, #838fffa4, #65bbfda4);
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
.cardover:hover .overlay{
    opacity: 1;
}
.artprojects h4{
    font-size: 1.125rem;
    color: #222222;
}
.artprojects p{
    font-size: 0.875rem;
    color: #777777;
}
.secreviews{
    background-color: #F9F9FF;
    text-align: center;
    padding: 10vh 0;
}
.artrev{
    display: flex;
    gap: 2vw;
    padding: 0 8vw;
    padding-top: 6vh;
    padding-bottom: 10vh;
}
.cardrev{
    display: flex;
    gap: 2vw;
    background-color: white;
    padding: 3vh 3vw;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}
.cardrev img{
    width: 40px;
    height: 40px;
}
.prev{
    display: none;
}
.cardrev p{
    font-size: 0.85rem;
    color: #777777;
    margin-bottom: 2vh;
    line-height: 1.5rem;
    width: 30vw;
    padding-top: 1vh;
}
.cardrev h5{
    font-size: 1.125rem;
    color: #222222;
    font-weight: 700;
}
.secchoose{
    padding: 10vh 9vw;
    text-align: center;
}
.artchoose{
    display: flex;
    margin-top: 7vh;
    justify-content: center;
    
}
.ncontainer{
    background-color: #e2e5ff;
    width: 10vw;
    height: 10vw;
   padding: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 3vw;
}
.number{
    font-size: 2.125rem;
    font-weight: 700;
    color: black;
    background-color: #edefff;
    padding: 0.6vw 1.1vw;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.choosecards{
    padding: 5vh 1vw;
    width: 28vw;
    background-color: #F9F9FF;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
}
.choosecards h5{
    font-size: 1.125rem;
    color: #222222;
    padding-top: 3vh;
}
.for{
    padding-bottom: 3vh;
}
.choosecards p{
    font-size: 2rem;
    font-weight: 900;
    padding-top: 5vh;
}
.choosecards li{
    font-size: 0.86rem;
    line-height: 5vh;
    color: #777777;
    border-bottom: 0.5px solid #d3d3d3;
}
.choosecards button{
    display: none;
}
.choosecards:hover p{
    display: none;
}
.choosecards:hover button{
    display: block;
    background-color: white;
    color: Black;
    font-weight: 700;
    outline: none;
    border: none;
    padding: 2vh 11vh;
    margin-top: 5vh;
    cursor: pointer;
}
.choosecards:hover{
    background: linear-gradient(to right, #8390ff, #65bafd);
    transform: scale(1.1);
    color: white;
    transition: 0.3s ease-in-out;
}
.choosecards:hover li{
    color: white;
    border-bottom: 1px solid white;
    transition: 0.3s ease-in-out;
    
}
.choosecards:hover h5{
    color: white;
    transition: 0.3s ease-in-out;
}
.choosecards:hover .ncontainer{
    background-color: #97c5fe;
    transition: 0.3s ease-in-out;
}
.choosecards:hover .number{
    background: linear-gradient(to right, #8390ff, #65bafd);
    color: white;
    transition: 0.3s ease-in-out;
}

.secposts{
    background-color: #F9F9FF;
    text-align: center;
    padding: 10vh 0;
}
.artposts{
    display: flex;
    gap: 2vw;
    margin-top: 7vh;
    text-align: left;
    padding: 0 9vw;
}
.artposts h5{
    padding: 2vh 0;
}
.artposts a{
    font-size: 1.1rem;
    color: #222222;
    transition: 0.3s ease-in-out;
}
.artposts div:hover a{
    color: #8390ff;
}
.artposts:hover{
    cursor: pointer;
}
.artposts div:hover img{
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
}
.logos{
    background: linear-gradient(to right, #8390ff, #65bafd);
    display: flex;
    gap: 6vw;
     width: calc(250px * 11);
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    animation: scroll 30s linear infinite;
}
.logos img{
    opacity: 0.6;
}
.logos img:hover{
    opacity: 1;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}
@keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }

footer{
    background-color: #04091E;
    color: white;
    padding: 8vw;
    font-size: 0.75rem;
    display: flex;
    gap: 3vw;
}
.footerdivs h5{
    font-size: 1.125rem;
    padding-bottom: 4vh;
}
footer h5:hover{
    color: #8390ff;
}
.footerdivs p{
    color: #777777;
    font-size: 0.875rem;
    padding-bottom: 3vh;
}
.footerdivs p:hover{
    color: white;
    transition: 0.2s ease-in-out;
}
.lilac{
    color: #8390ff;
}
footer ul{
    display: flex;
    gap: 1vw;
    font-size: 1rem;
}
footer li:hover{
    color: #8390ff;
}

footer input{
    width: 25vw;
    padding: 1.7vh;
    font-family: poppins;
    position: relative;
    top: -2vh;
   
}
footer button{
    background-color: #8390ff;
    color: white;
    border: none;
    font-size: 2rem;
    padding: 0.6vh;
    width: 4vw;
    position: relative;
    top: -1vh;
    right: 0.5vw;
}
footer button:hover{
    background-color: blue;
}

@media(max-width: 780px){
    html{
        font-size: 14px;
    }
    #personal{
        margin-right: 28vw;
    }
    nav{
        display: none;
    }
    .nav2{
        display: block;
    }
    .menu-toggle{
        font-size: 2rem;
        margin-left: 40vw;
        cursor: pointer;
    }
    .options{
        display: none;
        flex-direction: column;
        margin-left: -70vw;
    }
    .options li{
         padding: 1vh 0;
    }
    .options.active{
        display: flex;
    }
    .secme img{
        width: 45vw;
        margin-right: 5vw;
        
    }
    .secabout{
        padding-bottom: 10vh;
    }
    .aboutp{
        display: none;
    }
    .aboutp2{
        display: block;
        padding-right: 5vw;
    }
    .secproducts{
        flex-wrap: wrap;
        gap: 30vw;
        padding: 5vh;
    }
    .secproducts h4{
        font-size: 3rem;
    }
    .secproducts p{
        font-size: 1rem;
    }
    .artprojects{
        padding: 0;
    }
    .projectcards img{
        width: 25vw;
    
    }
    .artchoose{
        padding-bottom: 10vh;
        flex-wrap: wrap;
    }
    .choosecards{
        width: 30vw;
    }
    .ncontainer{
        margin-left: 8vw;
    }
    .servecards{
        width: 40vw;
    }
    .artposts img{
        width: 28vw;
    }
    .artposts p{
        font-size: 1.1rem;
    }
    .hidelogo{
        display: none;
    }
    .logos{
        width: 100vw;
        overflow-x: hidden;
    }
    .logos img{
        width: 12vw;
    }
    footer{
        flex-wrap: wrap;
    }
    footer button{
        padding: 0.9vh;
        width: 5vw;
    }
    .news{
        width: 40vw;
    }
}
@media(max-width:450px){
    .header1{
        display: none;
    }
    .menu-toggle{
      margin-left: 20vw;  
    }
    .secme{
        flex-direction: column;
    }
    .me1 h1{
        font-size: 2rem;
    }
    .secme img{
        margin-top: -10vh;
        width: 70vw;
    }
    .secabout{
        flex-direction: column;
        padding-left: 2vw;
    }
    .secabout img{
        width: 90vw;
        margin: 0;
    }
    .secabout h2{
        font-size: 1.5rem;
    }
    .aboutp2{
        display: none;
    }
    .aboutpmobile{
        display: block;
    }
    .pserve{
        display: none;
    }
    .pserve2{
        display: block;
        padding: 0 5vw;
        line-height: 1.5rem;
        color: #777777;
    }
    .secservices article{
        flex-direction: column;
    }
    .servecards{
        width: 70vw;
    }
    .secproducts{
        flex-direction: column;
       gap: 10vh;
       padding: 10vh 5vw;
    }
    .secprojects a{
        font-size: 0.8rem;
    }
    .artprojects{
        flex-direction: column;
        gap: 5vh;
    }
    .projectcards img{
        width: 85vw;
    }
    .secreviews h2{
        padding: 0 15vw;
    }
    .secreviews .p1{
        padding: 0 5vw;
        margin-top: 3vh;
    }
    .artrev{
        flex-direction: column;
    }
    .cardrev p{
        width: 68vw;
    }
    .artchoose{
        flex-direction: column;
        gap: 3vh;
    }
    .choosecards{
        width: 85vw;
    }
    .ncontainer{
        margin-left: 32vw;
        padding: 10vw;
    }
    .number{
        padding: 1.5vw;
    }
    .secposts h2{
        padding: 3vh;
    }
    .secposts .p1{
        font-size: 1rem;
    }
    .artposts{
        flex-direction: column;
        padding: 0 3vw;
    }
    .artposts img{
        width: 93vw;
    }
    footer{
        flex-direction: column;
        padding-bottom: 15vh;
    }
    footer input{
        width: 40vw;
    }
    footer button{
       padding: 1.3vw;
       width: 10vw;
       left: -1vh;
    }

}

@media(max-width:370px){
   .menu-toggle{
      margin-left: 12vw;  
    }
    .secme p{
        width: 80vw;
    }
    .aboutpmobile{
        width: 80vw;
    }
    .pserve2{
        font-size: 0.8rem;
    }
    .servecards{
        width: 85vw;
}
.pmhide{
    display: none;
}
.prev{
    display: block;
        width: 40vw;
}
.secposts .p1{
    font-size: 0.8rem;
    padding: 3vw;
}
.artposts img{
    width: 90vw;
}
.artposts .p1{
    width: 80vw;
}
.secreviews h2{
    font-size: 1.2rem;
}
.cardrev p{
    width: 85vw;
}



}